<footer class="site-footer">

    <div class="wrapper">
        <div class="site-footer__logo">
            <a href="http://www.heureka.cz/" target="_blank">
                <img src="/img/heureka.png" alt="Heureka logo">
            </a>
        </div>
        <div class="site-footer__copyright">
            Copyright &copy; 2007–{{ site.time | date: '%Y' }},
            <br class="is-hidden-desktop"/>
            Heureka Group a.s., všechna práva vyhrazena.
        </div>
    </div>

</footer>
