---
layout: page
title: Volné židle
permalink: /volne-zidle/
---

<article class="site-page page-career">

    <div class="info">
        <h1 class="site-page__title">
            Zaber si volnou židli!
        </h1>

        <p class="site-page__description">
            Bavilo by tě uplatnit svůj talent na službě, kterou lidi znají a která má opravdu smysl? Chceš mít možnost
            implementovat nové sexy technologie do reálně fungující aplikace? Hladovíš po rozvoji a hledáš firmu, která
            ti ho umožní? Jsou ti startupy malé a korporáty velké? Tak to nejspíš držíme místo právě tobě! Vyber si
            příležitost a ozvi se!
        </p>

        <ul class="page-career__list">
            <li class="page-blog__post-item">
                <h2 class="page-blog__post-title">
                    <a class="post-item__link" href="https://onas.heureka.cz/oddeleni-vyvoj">
                        Volné židle do vývoje
                    </a>
                </h2>
            </li>

            <li class="page-blog__post-item">
                <h2 class="page-blog__post-title">
                    <a class="post-item__link" href="https://onas.heureka.cz/produktove-oddeleni">
                        Volné židle do produktu
                    </a>
                </h2>
            </li>
        </ul>

        <p class="site-page__description">
            Volné pozice najdeš v dolní části detailu oddělení.
        </p>                
    </div>

    {% include site-separator.html %}

    <div>
        <h2 class="site-page__title">
            Pošli nám svůj email a dáme ti vědět víc
        </h2>
        <p class="site-page__description"></p>
        {% include form-email.html token=site.email_token_career source="academy" %}
    </div>

</article>
